<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>

    {% for row in range(row_num) %}
        {% if row % 2 == 0 %} {# determines starting color for row #}
            {% for column in range(col_num) %}
                {% if column % 2 == 0 %}
                    <div class="color_1"></div>
                {% else %}
                    <div class="color_2"></div>
                {% endif %}
            {% endfor %}
        {% else %} {# determines starting color for row #}
            {% for column in range(col_num) %}
                {% if column % 2 == 0 %}
                    <div class="color_2"></div>
                {% else %}
                    <div class="color_1"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}

</body>
</html>